body {
  color:var(--dark-mood);
  background-color: #1d1d1d;
}
nav ,.show_tasks{
  background: #131212;
}

.form_dark .Dark_button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}
.form_dark .Dark_button button .moon {
  color: black;
}
.show_tasks h2 {
  color: #fff;
}
.go-tasks a {
  color:var(--dark-mood) !important;
}
.form button i {
  color:var(--dark-mood);
}
.go_back p {
  color:var(--dark-mood) !important;
}
/* details section */
.details {
  background-color: #424141;
}
.details .box img {
  outline-color: #131212;
}
.details .box p {
  background-color: #131212;
}