/* Start title */

.title i {
  color: var(--main-color);
}
/* end title */
/* start nav */
/* end nav */

/* Start show tasks */
.show_tasks {
  margin-top: 50px;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 10px;
}
.show_tasks h2 {
  font-size: 20px;
}
.show_tasks .box {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}

.show_tasks .box .task {
  flex: 1;
  font-size: 1.7rem;
  font-weight: bold;
}
.show_tasks .box form button, .show_tasks .box form a{
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
  margin: 0 5px;
}
.show_tasks .box form button[name="complete"] {
  color: var(--second-color);
}
.show_tasks .box form button[name="delete"] {
  color: var(--color-red);
}
.show_tasks .box form .upload{
  color: var(--color-light-blue);
}
.show_tasks .truncate {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.show_tasks .truncate button {
  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.show_tasks .truncate button i {
  color: var(--color-red);
}
/* end show tasks */

/* start go -task */
.go-tasks {
  font-size: 14px;
  margin-top: var(--margin-top-links);
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  background: var(--color-light-blue);
  border-radius: 5px;
  cursor: pointer;
}
.go-tasks a {
  color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
}
.go-tasks a h2 {
  font-weight: 400;
  margin: 0;
}
.go-tasks span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 15px;
  color: white;
}
